.main {
    color: black;
    background-color:#bc8a5f;
}

.container {  /*flexbox implemented*/
    display:flex;
    /*background-color: white;*/
    justify-content: space-around;
    align-items: center;
    height:300px;
    }

img {
    height:auto;
    width:350px;
}

.second-container{
    display:flex;
    height:300px;
    justify-content: space-around;
    align-items: center;
   /* background-color: white;*/
}

.odin-recipes {
    font-size: 75px;
    text-align: center;
}

.food{
    font-size:35px;
}

.sub-one {
    background-color: #e7bc91;
}

.sub-two {
    background-color:#f3d5b5
}

.sub-three {
    background-color:#ffedd8
}

h2 {text-decoration: underline;
    font-family:monospace;
}

h3 {font-style: oblique;
    font-family: monospace;
}
